# Dependencies
node_modules

# Build outputs
dist

# Environment files
.env
.env.*
.env.local
.env.*.local

# IDE & editor
.vscode
.idea
*.swp
*.swo

# Test & coverage
coverage
*.test.ts
*.spec.ts
__tests__
__mocks__

# Docs
*.md

# Docker
Dockerfile
